/* Default logo size */
.logo {
    width: 200px;
    height: 100px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .logo {
        width: 150px;
        height: 75px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .logo {
        width: 100px;
        height: 50px;
    }
}

.courseBanner{
    background: url("../images/friends-people-group-teamwork-diversity.jpg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.teacherBanner{
    background: url('../images/medium-shot-smiley-woman-with-white-board.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contactBanner{
    background: url('../images/computer-with-contact-symbols-internet-communication.jpg');
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
}